.coin-red {
  position: fixed;
  top: 0;
  left: 0;
  width: 65px;
  height: 65px;
  pointer-events: none;
  opacity: 1;
  will-change: transform;
  z-index: 998;
}

.coin-red img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}