.character-card {
  width: 100%;
  aspect-ratio: 16 / 11;
  position: relative;
  display: flex;
  border: .18rem solid transparent;
}

.character-name {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  pointer-events: none;
  width: 100%;
  height: 100%;
  padding-bottom: .15rem;
  z-index: 88;
  color: white;
  font-family: "RodinNTLG", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 1;
  text-shadow:
    -2px 0 0 #000,
     2px 0 0 #000,
     0 -2px 0 #000,
     0  2px 0 #000,
    -2px -2px 0 #000,
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000,
     4px 3px 0px rgba(0, 0, 0, 1);
}

.character-container {
  width: 100%;
  aspect-ratio: 16 / 11;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.character-img {
  pointer-events: none;
  height: 155%;
  z-index: 77;
}

.character-frame {
  position: absolute;
  top: -.15rem;
  bottom: -.15rem;
  left: -.15rem;
  right: -.15rem;
  z-index: 99;

  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
}

.character-frame svg {
    width: 100%;
    height: 100%;
}

.character-frame svg path {
    stroke: black;
    stroke-width: 2;
}

.character-frame.is-hover-active {
    opacity: 1;
}

.character-frame.is-coin-active {
    opacity: 1;
}
