.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 135px;
  height: 135px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease;
  will-change: transform;
  z-index: 999;
}

.cursor img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}